<html xmlns="https://www.thymeleaf.org/">
	<head>
		<meta charset="UTF-8">
		<title>update.html</title>	
	</head>
	<body>
		<h1>update.html</h1>
		<form th:action="@{/boardUpdate}" method="post">
		<input type="hidden" name="readCount" th:value="${board.readCount}" readonly>
		<input type="hidden" name="date" th:value="${board.date}" readonly>
		<table>
			<tr>
				<td>글번호</td>
				<td><input type="text" name="num" th:value="${board.num}" readonly></td>
			</tr>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name" th:value="${board.name}" readonly></td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input type="text" name="subject" th:value="${board.subject}"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea type="text" name="content" rows="10" cols="5"  th:text="${board.content}"></textarea></td>
			</tr>
			<tr>
				<td><button >글수정</button></td>
			</tr>
		</table>
		</form>
	</body>
</html>