<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org/"
xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
		<title>write.html</title>	
	</head>
	<body>
		<h1>write.html</h1>
		<form th:action="@{/boardWrite}" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>이름</td>
				<td><input type="text" name="name" th:value="${#authentication.principal.Username}" readonly></td>
			</tr>
			<tr>
				<td>제목</td>
				<td><input type="text" name="subject"></td>
			</tr>
			<tr>
				<td>내용</td>
				<td><textarea type="text" name="content" rows="10" cols="5"></textarea></td>
			</tr>
			<tr>
				<td>파일</td>
				<td><input type="file" name="file"></td>
			</tr>
			<tr>
				<td><button >글쓰기</button></td>
			</tr>
		</table>
		</form>
	</body>
</html>